@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex items-center justify-between;
}

.grid-overlay {
  @apply absolute opacity-10 h-screen p-2;
}

.grid-overlay::before {
  content: "";
  @apply absolute top-0 left-3 w-full h-full;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.2) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 1px, transparent 1px);
  background-size: 20px 20px;
  pointer-events: none;
}